.App {
  min-height: 100vh;
  background-image: linear-gradient(to right, #ffecd2 0%, #b46246 100%);
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button {
  background-color: lightcoral;
  border: none;
  padding: 10px 30px;
  color: white;
}

.recipes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  min-width: 55vh;
  justify-content: space-around;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  color: #b46246;
}
